<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Blank Page &mdash; Stisla</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" th:href="@{assets/modules/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/modules/fontawesome/css/all.min.css}">

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
    <link rel="stylesheet" th:href="@{assets/css/components.css}">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA --></head>

<body>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>

        <nav class="navbar navbar-expand-lg main-navbar" th:include="header/navFragment :: headerTopIndex"></nav>

        <div class="main-sidebar sidebar-style-2" th:include="header/navFragment :: headerLeftIndex"></div>

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>基本信息</h1>
                </div>

                <div class="section-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon bg-primary">
                                    <i class="far fa-user"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4>超市总数</h4>
                                    </div>
                                    <div class="card-body" th:text="${marketCount}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon bg-danger">
                                    <i class="far fa-newspaper"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4>仓库总数</h4>
                                    </div>
                                    <div class="card-body" th:text="${warehouseCount}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon bg-warning">
                                    <i class="far fa-file"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4>今日提交申请超市数</h4>
                                    </div>
                                    <div class="card-body" th:text="${applyCount}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon bg-success">
                                    <i class="fas fa-circle"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h4>今日提交库存仓库数</h4>
                                    </div>
                                    <div class="card-body" th:text="${supplyCount}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="card" id="applyList">

                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="card" id="supplyList">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="main-footer">
            <div class="footer-left">
                Copyright &copy; 2018
                <div class="bullet"></div>
                Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
            </div>
            <div class="footer-right">

            </div>
        </footer>
    </div>
</div>

<!-- General JS Scripts -->
<script th:src="@{assets/modules/jquery.min.js}"></script>
<script th:src="@{assets/modules/popper.js}"></script>
<script th:src="@{assets/modules/tooltip.js}"></script>
<script th:src="@{assets/modules/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/modules/nicescroll/jquery.nicescroll.min.js}"></script>
<script th:src="@{assets/modules/moment.min.js}"></script>
<script th:src="@{assets/js/stisla.js}"></script>

<!-- JS Libraies -->
<script th:src="@{assets/modules/sweetalert/sweetalert.min.js}"></script>

<!-- Page Specific JS File -->

<!-- Template JS File -->
<script th:src="@{assets/js/scripts.js}"></script>
<script th:src="@{assets/js/custom.js}"></script>

<script>
    $('#applyList').load("/applyInfoItem?page=1")
    $('#supplyList').load("/supplyInfoItem?page=1")

    function switchItem(page, isApply) {
        if (isApply)
            $('#applyList').load(`/applyInfoItem?page=${[page]}`)
        else
            $('#supplyList').load(`/supplyInfoItem?page=${page}`)

    }


</script>
</body>
</html>