<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Blank Page &mdash; Stisla</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" th:href="@{assets/modules/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/modules/fontawesome/css/all.min.css}">

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
    <link rel="stylesheet" th:href="@{assets/css/components.css}">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA --></head>

<body>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar" th:include="header/navFragment :: headerTopIndex"></nav>

        <div class="main-sidebar sidebar-style-2" th:include="header/navFragment :: headerLeftIndex"></div>

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>注册用户</h1>
                </div>

                <div class="section-body">
                    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                        <div class="login-brand">
                            <img th:src="@{assets/img/stisla-fill.svg}" alt="logo" width="100"
                                 class="shadow-light rounded-circle">
                        </div>

                        <div class="card card-primary">
                            <div class="card-header"><h4>Register</h4></div>

                            <form action="addUser" method="post">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label for="editID">ID</label>
                                            <input id="editID" type="text" class="form-control" name="id"
                                                   autofocus>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="editName">昵称</label>
                                            <input id="editName" type="text" class="form-control" name="name">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label for="editPass" class="d-block">Password</label>
                                            <input id="editPass" type="password" class="form-control pwstrength"
                                                   data-indicator="pwindicator" name="password">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="editPass2" class="d-block">Password Confirmation</label>
                                            <input id="editPass2" type="password" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="editRemark">简介</label>
                                        <input id="editRemark" type="text" class="form-control" name="remark">
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>

                                    <div class="form-divider">
                                        操作权限
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label>角色</label>
                                            <select class="form-control selectric" id="typeList" name="type">
                                                <option value="总部">总部</option>
                                                <option value="超市">超市</option>
                                                <option value="仓库">仓库</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <label>所属</label>
                                            <select class="form-control selectric" id="list" name="info">
                                                <option class="header" value="总部">总部</option>
                                                <option class="market" th:each="market : ${marketList}"
                                                        th:value="${market.id}" th:text="${market.name}"
                                                        hidden></option>
                                                <option class="warehouse" th:each="warehouse : ${warehouseList}"
                                                        th:value="${warehouse.id}" th:text="${warehouse.name}"
                                                        hidden></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitBtn">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="simple-footer">
                            Copyright &copy; Stisla 2018
                        </div>
                    </div>

                </div>
            </section>
        </div>
        <footer class="main-footer">
            <div class="footer-left">
                Copyright &copy; 2018
                <div class="bullet"></div>
                Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
            </div>
            <div class="footer-right">

            </div>
        </footer>
    </div>
</div>


<!-- General JS Scripts -->
<script th:src="@{assets/modules/jquery.min.js}"></script>
<script th:src="@{assets/modules/popper.js}"></script>
<script th:src="@{assets/modules/tooltip.js}"></script>
<script th:src="@{assets/modules/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/modules/nicescroll/jquery.nicescroll.min.js}"></script>
<script th:src="@{assets/modules/moment.min.js}"></script>
<script th:src="@{assets/js/stisla.js}"></script>

<!-- JS Libraies -->
<script th:src="@{assets/modules/sweetalert/sweetalert.min.js}"></script>

<!-- Page Specific JS File -->

<!-- Template JS File -->
<script th:src="@{assets/js/scripts.js}"></script>
<script th:src="@{assets/js/custom.js}"></script>
<script th:src="@{profile.js}"></script>

</body>
</html>